@import "tailwindcss";
@theme {
  --font-display: "Montserrat", sans-serif;
}
@layer base {
  html {
    font-family: var(--font-display);
  }
  body {
    background-color: black;
    overflow-x: hidden;
  }
}
